{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
{% set map = {
  'leggi le faq': 'faq',
  'leggi le domande frequenti': 'faq',
  'segnalazione disservizio': 'report-inefficiency',
  'segnala disservizio': 'report-inefficiency',
  'informativa privacy': 'privacy-policy-link',
  'privacy': 'privacy-policy-link',
  'dichiarazione di accessibilità': 'accessibility-link',
  'note legali': 'legal-notes'
} %}
<div class="link-list-wrapper footer">
  <ul class="link-list">
  {% for item in items %}
    {% set link_attributes = create_attribute() %}
    {% set link_attributes = link_attributes
        .addClass(['list-item', 'large', 'medium'])
        .setAttribute('data-focus-mouse', 'false') %}

    {% if map[item.title|lower] is not empty %}

      <li>
        <span class="list-item-title">
          {{ link(item.title, item.url, link_attributes.setAttribute('data-element', map[item.title|lower])) }}
        </span>
      </li>

    {% else %}
      {# {% set _attributes = item.attributes.setAttribute('data-element', 'custom-submenu') %}
      {% set _items = _items|merge([item]) %} #}
      <li>{{ link(item.title, item.url, link_attributes.setAttribute('data-element', 'custom-submenu')) }}</li>
    {% endif %}

  {% endfor %}
  </ul>
</div>
{% endapply %}
