#it-block-scaenographia-content .container .field--name-field-galleria-immagini {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
}

#it-block-scaenographia-content .container .field--name-field-galleria-immagini div {
	margin-bottom: .5rem;
}
