<nav class="navbar it-navscroll-wrapper navbar-expand-lg it-bottom-navscroll it-right-side" data-bs-navscroll>
  <button
    class="custom-navbar-toggler"
    type="button"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    data-bs-toggle="navbarcollapsible"
    data-bs-target="#navbarNav"
  >
    <span class="it-list"></span>
  </button>
  <div class="progress custom-navbar-progressbar">
    <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="navbar-collapsable" id="navbarNav">
    <div class="overlay"></div>

    <a class="it-back-button" href="#" role="button">
      {% include '@bi-bcl/icon/icon.html.twig' with {name: 'it-chevron-left', size: 'sm', color: 'primary', alignment: 'top'} %}
      <span>{{ 'Back'|t }}</span>
    </a>
    <div class="menu-wrapper">
      <div class="link-list-wrapper">
        <h3>{{ 'Page index'|t }}</h3>
        <div class="progress">
          <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div data-toc></div>
      </div>
    </div>
  </div>
</nav>
