{# {% include '@bi-field/field-reference--format-label--component-chip.html.twig' with {
  chip_color: 'primary'
} %} #}
{% apply spaceless %}
{% for item in items %}
  <a class="chip chip-primary text-decoration-none" href="{{ item.content['#url'] }}" data-focus-mouse="false">
    <span class="chip-label">{{ item.content['#title'] }}</span>
  </a>
{% endfor %}
{% endapply %}
