{#
/**
 * @file
 * Template for date timeline component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/timeline/
 * Latest revision: v2.3.8
 *
 * Parameters:
 * - items (array) mandatory
 *   - timeline-items array
 * - timeline_classes (array) (default: '')
 * - timeline_attributes (obj attribute) (default: '')
 *
 * Examples:
   {% include '@bi-bcl/timeline/timeline.html.twig' with {
     items: [{...},{...}],
   } %}
 *
 */
#}
{% apply spaceless %}
  {# Set defaults #}
  {% set _option = option|default('') %}
  {% set _timeline_classes = timeline_classes|default('') %}
  {% set _timeline_attributes = timeline_attributes|default('') %}

  {# Set options #}
    {% set _classes = [
      'it-timeline-wrapper',
      'my-3'
    ] %}

  {% if _timeline_classes is not empty %}
    {% set _classes = _classes|merge(timeline_classes) %}
  {% endif %}

  {% if _timeline_attributes is empty %}
    {% set timeline_attributes = create_attribute() %}
  {% endif %}
  {% set timeline_attributes = timeline_attributes
    .addClass(_classes)
  %}

  {# Component #}
  <div{{ timeline_attributes.setAttribute('data-element', 'service-calendar-list') }}>

    {% block timelineItems %}
      {% for item in items %}
        <div class="card-calendar calendar-date d-flex flex-row text-primary">
          {% include '@scaenographia_components/date-timeline/date-timeline-item.html.twig' with item %}
        </div>
      {% endfor %}
    {% endblock %}

  </div>
{% endapply %}
