<table>
  <tr>
    <td style="max-width: 480px">{{ content.field_immagine }}</td>
    <td style="padding: 1em;">
      <h3><a href="{{ url }}">{{ label }}</a></h3>
      {{ content.field_descrizione_breve }}</td>
  </tr>
</table>
<hr>
